    //Se definen los margenes, fuente y tamaño de la página
    $DOCUMENT_FONT_NAME:'Roboto', sans-serif;//Calibri;
    $DOCUMENT_FONT_SIZE:16px;//16px;

    //Se define el tamaño de las páginas
    $LETTER_WIDTH:  21.6cm;//21.6cm;
    $LETTER_HEIGHT: 27.91cm;
    $OFFICE_WIDTH:21.59cm;
    $OFFICE_HEIHT:32.97cm;

    $HOJA_WIDTH:$LETTER_WIDTH;
    $HOJA_HEIGHT: $LETTER_HEIGHT; 
    $EQUATION_FONT_SIZE: 20px;//1.2em;//1.2em;
    $EQUATION_ENUNCIADO_FONT_SIZE: 1.2em;

    $MARGIN_LEFT: 1cm;
    $MARGIN_RIGHT: 1cm;
    $MARGIN_BOTTOM: 0cm;
    $MARGIN_TOP: 1.5cm;

    body{
       // margin-left:1cm;
        //margin-right:1cm ;
        //margin:0;
        font-family: $DOCUMENT_FONT_NAME;
        font-size: $DOCUMENT_FONT_SIZE;
    }

    h1{
        font-size: 32px;
    }
    h2{
        font-size:24px;
    }
    h3{
        font-size:18.72px;
    }
    h4{
        font-size: 19.2px;
    }
    h5{
        font-size: 13.28px;
    }
    h6{
        font-size: 12px;;
    }

    .hoja{
        width:$HOJA_WIDTH;
        height:$HOJA_HEIGHT;
        
        // Comentar este segmento para eliminar los bordes
       
        
        box-shadow: 0 1px black inset,
                    1px 0 black inset,
                    0 -1px black inset,
                    -1px 0 black inset;
       // ================================================
       display:flex;
       flex-direction: column;
       justify-content: space-between;

    }

    .page_membrete{
      display:flex;
      flex-direction:row;
      align-items:center;
      /*ajusta en el eje secundario*/

      justify-content:space-around;/*:space-between;*/
      /*alinea en el eje principal*/
      font-size: 2em;
      height: 3cm;
     // background-color: darkkhaki;
      width: 100%;          
    } 


    .hoja-seccion{
        width:100%;
        background-color: rgb(242, 242, 242);
      
       box-shadow: 0 1px black inset,
        1px 0 rgb(80,90,143) inset,
        0 -1px rgb(80,90,143) inset,
        -1px 0 rgb(80,90,143) inset;
        

    } 

   
    .page-seccion-teoria{
        background-color: rgb(80,90,143);
        width:100%;
        height:auto;
        color:white;
        font-weight:bolder ;
        padding-left: 1em;
    }

    .page-seccion-ejemplo-titulo{
        background-color: rgb(128,128,128);
        width:100%;
        height:auto;
        color:white;
        font-weight:bolder ;
        padding-left: 1em;
    }
    .page-seccion-ejemplo{
        width:100%;
        background-color: rgb(242, 242, 242);
      
       box-shadow: 0 1px black inset,
        1px 0  rgb(128,128,128) inset,
        0 -1px  rgb(128,128,128) inset,
        -1px 0  rgb(128,128,128) inset;
        

    }          
// ================================================
    .parrafo{
        padding-left: 1em;
        padding-right: 1em;
        text-align: justify;
    }
    .text-font-size-s{
        font-size:12px
    }
    .text-font-size{
        font-size: 16px;
    }
    .text-font-size-m{
        font-size:20px;
    }
    .text-font-size-l{
        font-size: 24px;
    }
    .text-font-size-xl{
        font-size: 28px;
    }
    .text-font-size-xxl{
        font-size: 32px;
    }    
    .text-font-size-xxxl{
        font-size: 36px;
    }
    // Fin de tamaños de fuentes
    
    .img-header{
        width:2.5cm;
        height:1.6cm;
    }
  

    .page_margin{
     
        margin-left: $MARGIN_LEFT;
        margin-right: $MARGIN_RIGHT;
        margin-bottom: $MARGIN_BOTTOM;
        margin-top: $MARGIN_TOP;
       
   
    }
    .numerar-right{
        margin-right: 1cm;
        text-align: right;
        margin-bottom: 0.5cm;
    }
    

    .alinear-horizontal{
        display:flex;
        justify-content: space-around;
    }
    .centrar-imagen{
        display:flex;
        justify-content:center;
    }
    .centrar-item{
        display:flex;
        justify-content:center;
        text-align: center;
    }

    .text-centrar{

    }
    .text-align-center{
        text-align: center;
    }
    .text-align-right{
        text-align: right;
    }
    .text-justificar{
        text-align: justify;
    }
    .centrar-elementos{
        display:flex;
        flex-direction: column;
        justify-items:center;
        align-items: center;
    }

   

    



 
